//Import and set fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
html{
  font-family: 'Inter', sans-serif;
}

//Import Foundation Framework
@import "./foundation/Foundation.globals";
@import "./foundation/Foundation-Float.globals";
@import "./foundation/Foundation-Prototype.globals";
@import "./foundation/Foundation-Rtl.globals";

//Variables
$blackBackground: rgba(0, 0, 0, 0.98);
$principalText: #FFFFFF;
$secondaryText: #808080;

//Import styles for components
@import "./components/Header-Home";
@import "./components/Hero-Home";
@import "styles/components/Iphone-Home";

//Import styles for pages
@import "styles/pages/Home";
